

.container {
    display: flex;
    align-items: flex-start;
    height: 150px;
    width:100%;
    
}

.form {
    width: 150px;
    height: 150px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
 
}

.form span{
    font-size: 13px;
}

.uploadIcon{
    font-size: 20px;
    color: #4262EA;
    margin-bottom: 10px;
}


.previewContainer{
    display: flex;
}
.imageBlock{
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.removeBtn{
    position: absolute;
    z-index: 10;
    right: 3px;
    top: 3px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.removeBtn:hover{
    color: #4262EA;
}

.image{
    position: relative;
    border-radius: 5px;
    object-fit: cover;
}