.infoWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}
.storeImage{
    width: 100%;
    height: auto;
}
.storeTitle{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0px;
    height: 80px;
    display: flex;
    align-items: center;

}

.storeName{
    font-size: 16px;
}
.storeLocation{
    font-size: 16px;
}