.infoWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}
.storeImage{
    width: 100%;
    height: auto;
    z-index: 1;
}
.storeTitle{
    font-size: 24px;
    font-weight: 600;
    height: 90px;
    display: flex;
    align-items: center;
}

.storeBookMark{
    position: absolute;
    width: 40px;
    font-size: 35px;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    color: white;
    cursor: pointer;
    padding: 0px 10px 5px 0px;
}

.storeName{
    font-size: 16px;
}
.storeLocation{
    font-size: 16px;
}