.listContainer{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
      grid-template-columns: 1fr;
  }
}

.mainWrapper {
  @media (max-width: 1000px) {
    padding-left: 10px;
    padding-right: 10px;
}
}

.bannerContainer{
  max-width: 1240px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0px 16px;

}

.banner{
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;

}