.sideBarWarp{
    box-sizing: border-box;
    z-index: 20;
    background-color: white;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    position: fixed;
    transition: 0.5s ease;
    padding: 0px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.open {
    right: 0;
    transition: 0.5s ease;
}

.ulMenu{
    padding-top: 20px;
    justify-content: end;
    font-size: 18px;
    list-style-type: none;

}

.ulMenu li{
    cursor: pointer;
    color: black;
    line-height: 150%;
    padding: 10px;
}

.ulMenu li:hover{
    background-color: #F6F9FA;
}

.strongLi{
    cursor: pointer;
    color: black;
    line-height: 150%;
    padding: 10px;
    font-weight: bold;
    background-color: #F6F9FA;
}

.sideHeader{
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid gray;    
}

.profileBlock{
    display: flex;
    align-items: center;
    color: bl;
}

.profile{
    background: #fff;
    border: 1px solid lightgrey;
    height: 40px;
    width: 40px;
    color: gray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}

.loginHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.loginBtn{
    font-size: 15px;
    padding: 10px 5px;
    border: 1px solid #D4A373;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D4A373;
}

.loginBtn:hover{
    background-color: #e0bc9898;
 
}

.registerBtn{
    font-size: 15px;
    padding: 10px 5px;
    background-color: #D4A373;
    border: 1px solid #D4A373;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.registerBtn:hover{
    background-color: #D4A373;
    opacity: 0.8;
    color: white;

}

.blank{
    width: 20px;
}