.swiperImg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover; 
}

.swipeBlock{
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
}