.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headerWrapper{
    width: 100%;
    max-width: 1240px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection img{
    width: 80px;
    height: auto;
}
.rigntSection{
    display: flex;
    align-items: center;
}
.rigntSection span{
    padding-left: 50px;
    font-size: 18px;
    color: black;
}

.main {
    max-width: 1240px;
    width: 100%;
}